@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
    font-family: "Plus Jakarta Sans";
}

button.bg-gradient-to-tr {
    --tw-gradient-stops: blue, cyan
}

h1 {
    --tw-content: "";
}